@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



.icons-container {
    display: flex;
    flex-direction: center;
    align-items: center;
    margin: 30px;
    width: 500px;
    height: 60px;
    gap: 90px;
}

.icons-container > .ping-container {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.ping-container > .pingBtn {
    margin: 5px;
    font-size: 13px;
    background-color: #bb8c08;
    color: rgb(45, 44, 42);
    border: #bb8c08 1px solid;
    border-radius: 10px;
    font-family: 'Alfa Slab One', sans-serif;
    cursor: pointer;
    width: 180px;
    height: 50px;
}

.icons-container > .xo-container {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.xo-container > .xoBtn {
    margin: 5px;
    font-size: 13px;
    background-color: transparent;
    color: #bb8c08;
    border: #bb8c08 1px solid;
    border-radius: 10px;
    font-family: 'Alfa Slab One', sans-serif;
    cursor: pointer;
    width: 180px;
    height: 50px;
}

.active-button {
    color: rgb(45, 44, 42) !important;
    background-color: #bb8c08 !important;
    border-color: #bb8c08 !important;
    box-shadow: 0 0 10px 0 #e8ac0798;
}

.unactive-button {
    color: #bb8c08 !important;
    background-color: transparent !important;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background: rgba(31, 30, 28, 1);
   
    padding: 5px;
    width: 700px;
    height: 800px;
    box-shadow: 0 0 10px 0 #b3840298;
}

.body-container > .column-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 650px;
    height: 40px;
    padding: 10px;
    gap: 50px;
}

.column-container > .Games {
    display: flex;
    font-size: medium;
    justify-content: center;
    width: 250px;
    font-family: 'Alfa Slab One', sans-serif;
    color: rgb(105, 105, 105);
}

.column-container > .Results, .Accuracy, .Goals, .Date {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: medium;
    color: rgb(105, 105, 105);
}

.body-container > .ping-content-container {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 800px;
    margin: 10px;
    padding: 15px;
    padding-right: 35px;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 18px;
}

.body-container > .xo-content-container {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 800px;
    margin: 10px;
    padding: 15px;
    padding-right: 35px;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 18px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1f1e1c;
}

::-webkit-scrollbar-thumb {
    background: #bb8b08ea;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5b491a;
}

.ping-content-container > .stats-container {
    display: none;
    flex-direction: row;
    border: 2px solid #624c0f;
    border-radius: 25px;
    width: 650px;
    height: 80px;
    gap: 27px
}

.stats-container > .games-container {
    display: flex;
    flex-direction: row;
    width: 245px;;
    height: 80px;
}

.games-container > .games-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 500px;
    height: 80px;
}

.games-icon > .games-image-local {
    background-image: url('../icons/local.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 30px;
}

.games-icon > .games-image-local:hover {
    background-image: url('../icons/local-hover.svg');
}

.games-icon > .games-text-local {
    font-family: 'Alfa Slab One', sans-serif;
    color: #bb8c08;
    font-size: small;
}

.games-icon > .games-image-bot {
    background-image: url('../icons/bot.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 30px;
}

.games-icon > .games-image-bot:hover {
    background-image: url('../icons/bot-hover.svg');
}

.games-icon > .games-text-bot {
    font-family: 'Alfa Slab One', sans-serif;
    color: #bb8c08;
    font-size: small;
}

.games-icon > .games-image-online {
    background-image: url('../icons/online.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 30px;
}

.games-icon > .games-image-online:hover {
    background-image: url('../icons/online-hover.svg');
}

.games-icon > .games-text-online {
    font-family: 'Alfa Slab One', sans-serif;
    color: #bb8c08;
    font-size: small;
}

.games-container > .games-users {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 650px;
    height: 80px;
   
}

.games-users > .f-user {
    display: flex;
    flex-direction: row;
}

.f-user > .first-user-text {
    color: #696969;
}

.f-user > .arrow_1 {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
}

.games-users > .sec-user {
    display: flex;
    flex-direction: row;
}

.sec-user > .second-user-text {
    color: #696969;
}

.sec-user > .arrow_2 {

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
}

.stats-container > .Results-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 115px;
    height: 80px;
}

.Results-container > .res-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 80px;
}

.Results-container > .res-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20px;
    height: 80px;
}

.res-icon > .res-image-plus {
    background-image: url('../icons/square-plus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}

.res-icon > .res-image-minus {
    background-image: url('../icons/square-minus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}

.res-icon > .res-image-equal {
    background-image: url('../icons/square-equal.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}

.res-num > .f-user-score, .sec-user-score {
    color: #bb8c08;
}

.stats-container > .Accuracy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 80px;
}

.Accuracy-container > .f-user-accuracy {
    color: rgb(105, 105, 105);
    font-size: small;
}

.Accuracy-container > .sec-user-accuracy  {
    color: rgb(105, 105, 105);
    font-size: small;
}

.stats-container > .date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(105, 105, 105);
    font-size: small;
    width: 80px;
}

mdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(105, 105, 105);
    font-size: small;
    width: 80px;
}

.history-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
}

.history-container > .history {
    width: 150px;
    height: 50px;
    font-size: 12px;
    border-radius: 25px;
    background-color: #bb8c08;
    border: none;
    font-family: 'Alfa Slab One', sans-serif;
    color: rgb(45, 44, 42);
    cursor: pointer;
}



.box-text {
    font-family: 'Alfa Slab One', sans-serif;
    color: #bb8c08;
    font-size: 10px;
    background-color: #2a2929;
    border: none;
    margin-bottom: 15px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-container.show {
    opacity: 1;
    visibility: visible;
}

.popup-container > .popup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 500px;
    height: 265px;
    margin-top: 20px;
    gap: 5px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px #7c5c03;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 500px;
}

.popup-box-animate-up {
    animation: popup 0.25s ease-in-out;
}

.popup-box-animate-down {
    animation: popout 0.25s ease-in-out;
}

.popup-box > .enter {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 11px;
    color: #bb8c08;
}

.popup-box > .input-text {
    border-radius: 10px;
    background: rgba(31, 30, 28, 1);
    outline: solid 1px #bb8c08;
    border: none;
    font-family: 'Alfa Slab One', sans-serif;
    color: #bb8c08;
    font-size: 15px;
    padding: 10px;
    resize: none;
    text-align: start;
    width: 450px;
    height: 150px;

}

.popup-box > .update-cancel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 50px;
    width: 400px;
    height: 50px;
    gap: 5px;
    margin-top: 5px;
}

.update-cancel > .enter {
    width: 80px;
    height: 40px;
    background-color: #bb8c08;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 12px;
    color: #2a2929;
    border: none;
    border-radius: 28px;
    cursor: pointer;
}

.update-cancel > .cancel {
    width: 80px;
    height: 40px;
    background-color: transparent;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 11px;
    color: #bb8c08;
    border: 3px #0d0c0c;
    cursor: pointer;
}

.popup-box > .counter{
    float: right;
    display: flex;
    font-family: 'Alfa Slab One', sans-serif;
    color: #bb8c08;
    margin-left: 440px;
}

.popup-box > .counter p{
    font-size: 12px !important;
}

@keyframes popup {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.body-container > .no-matches-container {
    display: block;
    color: #6969697d;
    font-size: small;
    margin-top: 10px;
} 


